.myWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 80%;
    margin: 0 auto 0;
    /* border: 2px solid saddlebrown; */

    .work-title {
        position: relative;
        margin: 50px 0 0;

        h1 {
            padding: 0 30px;
            font-size: 70px;
            font-weight: 600;
        }

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }

    .work-container {
        /* border: 2px solid seagreen; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
        gap: 40px;
        margin: 0 auto 0;
        padding: 0;

        img {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            transition: 0.3s;
            cursor: pointer;
            margin: 0;
            padding: 0;
        }

        img:hover {
            transform: scale(1.05);
            border: 3px solid #ff00ff;
            border-radius: 10px;
            transition: 0.2s;
        }
    }

    .work-btn {
        display: flex;
        gap: 15px;
        padding: 25px 50px;
        border-radius: 50px;
        font-size: 22px;
        font-weight: 500;
        border: 2px solid #fff;
        margin-bottom: 80px;
        transition: 0.6s;
        cursor: pointer;
    }

    .work-btn:hover {
        gap: 30px;
        transition: 0.6s;
    }
}

/* css-for-largest-screen */
@media (min-width: 769px) and (max-width: 1400px) {
    .myWork {
        gap: 60px;
        align-items: start;

        .work-title {

            h1 {
                padding: 0;
                font-size: 50px;
                font-weight: 600;
            }

            img {
                width: 130px;
                margin-right: -20px;
            }
        }

        .work-container {
            grid-template-columns: 2fr 2fr 2fr;
            gap: 18px;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .work-btn {
            padding: 20px 38px;
            font-size: 16px;
            margin: 10px auto;

        }
    }
}


/* css-for-tablet */
@media (min-width: 496px) and (max-width: 768px) {
    .myWork {
        gap: 40px;
        align-items: start;

        .work-title {

            h1 {
                padding: 0;
                font-size: 45px;
                font-weight: 600;
            }

            img {
                width: 130px;
                margin-right: -20px;
            }
        }

        .work-container {
            grid-template-columns: 2fr 2fr;
            gap: 16px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .work-btn {
            padding: 18px 36px;
            font-size: 16px;
            margin: 30px auto 10px;

        }
    }
}

/* css-for-mobile */
@media (min-width: 200px) and (max-width: 495px) {

    .myWork {
        gap: 40px;
        align-items: start;

        .work-title {

            h1 {
                padding: 0;
                font-size: 40px;
                font-weight: 600;
            }

            img {
                width: 100px;
                margin-right: -15px;
            }
        }

        .work-container {
            grid-template-columns: 1fr;
            width: 100%;
            margin: 0 auto 0;
            gap: 16px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .work-btn {
            padding: 15px 33px;
            font-size: 16px;
            margin: 10px auto;

        }
    }
}