.footer {
    width: 90%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 2px solid sienna; */

    .footer-top {
        display: flex;
        justify-content: space-between;

        .footer-top-left-side {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h2 {
                text-align: left;
            }

            p {
                text-align: left;
                width: 60%;
            }
        }

        .footer-top-right-side {
            display: flex;
            align-items: center;
            gap: 35px;

            .footer-email-input {
                display: flex;
                gap: 30px;
                padding: 20px 30px;
                border-radius: 50px;
                background: #32323B;
                padding-right: 80px;

                input {
                    outline: none;
                    border: none;
                    background: transparent;
                    color: #a0a0a0;
                    font-family: outfit;
                    font-size: 18px;
                    cursor: pointer;
                }


            }

            .footer-email-input:hover {
                border: 2px solid #fff;
            }

            .footer-btn {
                border: 0;
                font-size: 18px;
                padding: 22px 50px;
                border-radius: 50px;
                background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
                cursor: pointer;
                transition: 0.3s;
                color: #fff;
            }

            .footer-btn:hover {
                transform: scale(1.05);
                transition: 0.3s;
            }

        }
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        margin-bottom: 50px;

        .footer-bottom-right {
            display: flex;
            gap: 50px;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

/* css-for-largest-screen */
@media (min-width: 769px) and (max-width: 1400px) {
    .footer {
        .footer-top {
            display: flex;
            align-items: center;
            gap: 50px;

            .footer-top-left-side {
                h2 {
                    font-size: 26px;
                }

                p {
                    width: 90%;
                }
            }

            .footer-top-right-side {
                display: flex;
                align-items: center;
                gap: 25px;


                .footer-email-input {
                    padding: 16px 26px;
                    font-size: 16px;
                }

                .footer-btn {
                    padding: 16px 26px;
                    font-size: 16px;
                }
            }
        }

        .footer-bottom {
            display: flex;
            gap: 30px;
            margin-bottom: 30px;

        }
    }
}

/* css-for-tablet-screen */
@media (min-width: 576px) and (max-width: 768px) {
    .footer {
        .footer-top {
            flex-direction: column;
            gap: 40px;

            .footer-top-left-side {
                h2 {
                    font-size: 24px;
                }

                p {
                    width: 70%;
                }
            }

            .footer-top-right-side {
                display: flex;
                align-items: center;
                gap: 20px;


                .footer-email-input {
                    padding: 12px 24px;
                    font-size: 16px;
                }

                .footer-btn {
                    padding: 12px 24px;
                    font-size: 16px;
                }
            }
        }

        .footer-bottom {
            display: flex;
            flex-direction: column-reverse;
            gap: 30px;
            margin-bottom: 30px;

        }
    }
}

/* css-for-mobile-screen */
@media (min-width: 200px) and (max-width: 575px) {
    .footer {
        .footer-top {
            flex-direction: column;
            gap: 30px;

            .footer-top-left-side {
                h2 {
                    font-size: 22px;
                }

                p {
                    width: 90%;
                }
            }

            .footer-top-right-side {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;


                .footer-email-input {
                    width: 100%;
                    font-size: 14px;
                }

                .footer-btn {
                    width: 100%;
                    font-size: 16px;
                }
            }
        }

        .footer-bottom {
            display: flex;
            flex-direction: column-reverse;
            gap: 30px;
            margin-bottom: 30px;

        }
    }
}